<div class="container">
  <div class="row custom-padding-search-bar">
    <div class="col-lg-2 col-md-2 col-sm-2 col-12">
      <!-- Logo -->
      <div class="form-group responsive-logo ">
        <%= link_to root_path do %>
          <%= image_tag('logos/my_logo.png', alt: 'Logo' ,class:"logo-design" )  %>
        <% end %>
      </div>
      <!--/ End Logo -->
    </div>
    <div class="col-lg-8 col-md-7 col-sm-6 col-6">
      <!-- Search Form -->
      <%= form_for "",url:root_path, role:"search", method: :get do %>
        <div class=" form-group ">
          <div class="custom-search-design ">
            <div class="input-box">
              <%= text_field_tag :search, @search_term, placeholder:"Search Products Here...",class:"search-focus " %>
              <button type="submit" class="button" >Search</button>
            </div>
          </div>
        </div>
      <%end%>
      <!--/ End Search Form -->
    </div>
    <%# Cart Account %>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <div class="form-group cart-account-design" style="text-align:right;">
        <%= link_to cart_path, style:"color:#333;" do %>
          <i class="fa fa-shopping-cart cart-design" ></i>
        <% end %>
        <i class="fa fa-user-circle-o  account-design" aria-hidden="true"></i>
        <% if user_signed_in?   %>
          <% if current_user.role == 'Vendor'  %>
            <span class="sign-in-design">Vendor</span>
          <% elsif current_user.role == 'Admin' %>
            <span class="sign-in-design">Admin</span>
          <% else %>
            <span class="sign-in-design"> Customer</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# end Cart Account %>
  </div>
</div>
</header>
<%# Navbar %>
<div class="navbar" style="padding:0;">
  <div class="container" style="display:block;">
    <div class="row ">
      <div class="col-lg-3 cat-main" >
        <h3 class="cat-heading  "><i class="fa fa-bars"></i>CATEGORIES</h3>
      </div>
      <div class="col-lg-9 mt-3  ">
        <%= link_to "Home " , root_path , class:"no-underline custom-navlinks " %>
      </div>
    </div>
  </div>
</div>
<p> Id anim elit reprehenderit irure aliqua. In sunt ut aliquip elit ullamco. Elit aliqua occaecat amet ex nostrud ad ut in ea ullamco.
  Et sunt eiusmod sint ad. Cillum ea exercitation aliqua et adipisicing exercitation est et id. Fugiat ipsum nostrud consequat enim pariatur labore commodo velit occaecat minim consectetur elit officia. Sint nulla aute irure anim occaecat labore reprehenderit incididunt velit quis incididunt. Amet veniam est proident reprehenderit cupidatat magna adipisicing enim exercitation.
  Dolore occaecat qui enim eu excepteur cupidatat. Fugiat qui elit nulla laboris excepteur amet ullamco minim quis tempor cillum minim. Velit nulla consequat laboris est culpa tempor laboris duis commodo eiusmod et cillum velit. Lorem Lorem enim laboris id excepteur do ex deserunt eiusmod aute.
  Eiusmod pariatur cupidatat exercitation pariatur consectetur minim do voluptate tempor. Esse aliqua elit ad exercitation quis non sunt dolore qui. Nostrud qui do sint ad dolore magna quis aliquip cupidatat. Qui esse exercitation duis commodo et dolore nulla incididunt laborum pariatur."
  Amet dolor consectetur minim culpa est pariatur non et excepteur. Deserunt nulla cillum irure amet. Quis voluptate irure aute sint irure fugiat. Sint esse Lorem aliquip amet incididunt. Et proident nostrud ea minim tempor ullamco magna. Eiusmod in ad anim minim qui incididunt amet non adipisicing sit nisi et quis.
  Tempor mollit tempor Lorem non. Consequat consequat culpa mollit fugiat esse labore aliqua eiusmod dolore excepteur. Quis irure ex voluptate proident esse enim excepteur occaecat irure pariatur. Labore elit aliqua voluptate nostrud occaecat adipisicing. Magna laboris excepteur sit laboris.
  Esse incididunt ut consectetur ea ea occaecat do proident. Qui qui officia incididunt non Lorem ipsum enim quis nisi ullamco. Enim excepteur laboris consectetur exercitation proident est anim tempor id et do aliquip. Do deserunt esse ut ut sint sunt. Dolor nulla nulla non cillum ipsum pariatur aliquip in do fugiat sit nulla.
  Dolore quis Lorem reprehenderit sit. Amet irure aliqua excepteur sint eu reprehenderit eu dolor laborum. Nulla ad esse do laboris consequat. Magna exercitation voluptate mollit ipsum sunt ullamco aliqua.
  Sunt anim laborum nisi culpa. Pariatur dolore tempor laboris magna aliquip ut. Adipisicing sunt Lorem est velit dolore sit non. Qui reprehenderit ad est exercitation ut ea commodo nisi eu in. Aute mollit sint cillum nostrud nostrud consequat qui occaecat officia. Eu veniam voluptate eu ea fugiat occaecat cupidatat dolore do aute est minim mollit. Qui ut culpa Lorem aliqua eiusmod cillum deserunt amet sunt amet dolor exercitation amet.
  Quis sunt mollit non cillum sunt dolore ad. Nostrud magna nisi enim proident eiusmod. Deserunt nostrud nostrud laboris officia eu reprehenderit do velit qui sit. Qui id excepteur in nostrud duis mollit magna pariatur consectetur dolore. Aliquip amet amet consequat labore cupidatat. Velit laborum aliqua elit ut.
  Adipisicing Lorem eiusmod sunt laborum voluptate. Ullamco enim quis do commodo dolor elit. Irure esse laboris enim ipsum deserunt anim esse culpa tempor. Do elit tempor anim ullamco officia. Exercitation commodo amet qui do dolor labore. Non ea elit dolor commodo.
  Pariatur mollit Lorem esse ad duis irure. Consequat veniam et commodo minim. Sit amet et ex minim sint consequat sunt occaecat excepteur. Adipisicing anim cupidatat voluptate mollit magna. Tempor proident excepteur incididunt elit excepteur magna culpa dolor eu consequat non id eu ut.
  Incididunt pariatur minim commodo ipsum ad eiusmod elit velit ad esse tempor velit tempor id. Exercitation laborum nostrud ex amet nisi ex labore excepteur consectetur aliquip amet occaecat pariatur ex. Lorem adipisicing ad dolor sint.
  Id laborum velit officia culpa sint. Deserunt amet cupidatat quis irure in voluptate aute. Dolor excepteur sunt ea incididunt et non ut exercitation magna in id.</p>
<p> Id anim elit reprehenderit irure aliqua. In sunt ut aliquip elit ullamco. Elit aliqua occaecat amet ex nostrud ad ut in ea ullamco.
  Et sunt eiusmod sint ad. Cillum ea exercitation aliqua et adipisicing exercitation est et id. Fugiat ipsum nostrud consequat enim pariatur labore commodo velit occaecat minim consectetur elit officia. Sint nulla aute irure anim occaecat labore reprehenderit incididunt velit quis incididunt. Amet veniam est proident reprehenderit cupidatat magna adipisicing enim exercitation.
  Dolore occaecat qui enim eu excepteur cupidatat. Fugiat qui elit nulla laboris excepteur amet ullamco minim quis tempor cillum minim. Velit nulla consequat laboris est culpa tempor laboris duis commodo eiusmod et cillum velit. Lorem Lorem enim laboris id excepteur do ex deserunt eiusmod aute.
  Eiusmod pariatur cupidatat exercitation pariatur consectetur minim do voluptate tempor. Esse aliqua elit ad exercitation quis non sunt dolore qui. Nostrud qui do sint ad dolore magna quis aliquip cupidatat. Qui esse exercitation duis commodo et dolore nulla incididunt laborum pariatur."
  Amet dolor consectetur minim culpa est pariatur non et excepteur. Deserunt nulla cillum irure amet. Quis voluptate irure aute sint irure fugiat. Sint esse Lorem aliquip amet incididunt. Et proident nostrud ea minim tempor ullamco magna. Eiusmod in ad anim minim qui incididunt amet non adipisicing sit nisi et quis.
  Tempor mollit tempor Lorem non. Consequat consequat culpa mollit fugiat esse labore aliqua eiusmod dolore excepteur. Quis irure ex voluptate proident esse enim excepteur occaecat irure pariatur. Labore elit aliqua voluptate nostrud occaecat adipisicing. Magna laboris excepteur sit laboris.
  Esse incididunt ut consectetur ea ea occaecat do proident. Qui qui officia incididunt non Lorem ipsum enim quis nisi ullamco. Enim excepteur laboris consectetur exercitation proident est anim tempor id et do aliquip. Do deserunt esse ut ut sint sunt. Dolor nulla nulla non cillum ipsum pariatur aliquip in do fugiat sit nulla.
  Dolore quis Lorem reprehenderit sit. Amet irure aliqua excepteur sint eu reprehenderit eu dolor laborum. Nulla ad esse do laboris consequat. Magna exercitation voluptate mollit ipsum sunt ullamco aliqua.
  Sunt anim laborum nisi culpa. Pariatur dolore tempor laboris magna aliquip ut. Adipisicing sunt Lorem est velit dolore sit non. Qui reprehenderit ad est exercitation ut ea commodo nisi eu in. Aute mollit sint cillum nostrud nostrud consequat qui occaecat officia. Eu veniam voluptate eu ea fugiat occaecat cupidatat dolore do aute est minim mollit. Qui ut culpa Lorem aliqua eiusmod cillum deserunt amet sunt amet dolor exercitation amet.
  Quis sunt mollit non cillum sunt dolore ad. Nostrud magna nisi enim proident eiusmod. Deserunt nostrud nostrud laboris officia eu reprehenderit do velit qui sit. Qui id excepteur in nostrud duis mollit magna pariatur consectetur dolore. Aliquip amet amet consequat labore cupidatat. Velit laborum aliqua elit ut.
  Adipisicing Lorem eiusmod sunt laborum voluptate. Ullamco enim quis do commodo dolor elit. Irure esse laboris enim ipsum deserunt anim esse culpa tempor. Do elit tempor anim ullamco officia. Exercitation commodo amet qui do dolor labore. Non ea elit dolor commodo.
  Pariatur mollit Lorem esse ad duis irure. Consequat veniam et commodo minim. Sit amet et ex minim sint consequat sunt occaecat excepteur. Adipisicing anim cupidatat voluptate mollit magna. Tempor proident excepteur incididunt elit excepteur magna culpa dolor eu consequat non id eu ut.
  Incididunt pariatur minim commodo ipsum ad eiusmod elit velit ad esse tempor velit tempor id. Exercitation laborum nostrud ex amet nisi ex labore excepteur consectetur aliquip amet occaecat pariatur ex. Lorem adipisicing ad dolor sint.
  Id laborum velit officia culpa sint. Deserunt amet cupidatat quis irure in voluptate aute. Dolor excepteur sunt ea incididunt et non ut exercitation magna in id.</p>
