<head>
  <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
  <style>
    body {
    background-color: #f6f6f7;
    }
  </style>
</head>
<div class="container">
  <div class="row custom-padding-search-bar">
    <div class="col-lg-2 col-md-2 col-sm-2 col-12">
      <!-- Logo -->
      <div class="form-group responsive-logo ">
        <%= link_to root_path do %>
          <%= image_tag('logos/my_logo.png', alt: 'Logo' ,class:"logo-design" )  %>
        <% end %>
      </div>
      <!--/ End Logo -->
    </div>
    <div class="col-lg-8 col-md-7 col-sm-6 col-6">
      <!-- Search Form -->
      <%= form_for "",url:root_path, role:"search", method: :get do %>
        <div class=" form-group ">
          <div class="custom-search-design ">
            <div class="input-box">
              <%= text_field_tag :search, @search_term, placeholder:"Search Products Here...",class:"search-focus " %>
              <button type="submit" class="button" >Search</button>
            </div>
          </div>
        </div>
      <%end%>
      <!--/ End Search Form -->
    </div>
    <%# Cart Account %>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <div class="form-group cart-account-design" style="text-align:right;">
        <%= link_to cart_path, style:"color:#333;" do %>
          <i class="fa fa-shopping-cart cart-design" ></i>
        <% end %>
        <i class="fa fa-user-circle-o  account-design" aria-hidden="true"></i>
        <% if user_signed_in?   %>
          <% if current_user.role == 'Vendor'  %>
            <span class="sign-in-design">Vendor</span>
          <% elsif current_user.role == 'Admin' %>
            <span class="sign-in-design">Admin</span>
          <% else %>
            <span class="sign-in-design"> Customer</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# end Cart Account %>
  </div>
</div>
</header>
<%# Navbar %>
<div class="navbar" style="padding:0;">
  <div class="container" style="display:block;">
    <div class="row ">
      <div class="col-lg-3 cat-main" >
        <h3 class="cat-heading  "><i class="fa fa-bars"></i>CATEGORIES</h3>
      </div>
      <div class="col-lg-9 mt-3  ">
        <%= link_to "Home " , root_path , class:"no-underline custom-navlinks " %>
        <%= link_to "Shipping " , shipterm_path , class:"no-underline custom-navlinks " %>
        <%= link_to "Newsletter " , newsletter_path , class:"no-underline custom-navlinks " %>
        <%= link_to "About Us " , about_path , class:"no-underline custom-navlinks " %>
        <%= link_to "Contact Us " , contact_path , class:"no-underline custom-navlinks " %>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4 ">
  <div class="row ">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-md-12 col-12">
      <div class="shadow-sm px-5 py-4 mb-3 bg-white rounded ">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="text-center pb-4">
            <h3 class="change-font-family">Sign Up</h3>
          </div>
          <div class="field form-group">
            <%= f.label :first_name , class:"fw-custom-email-pass" %>
            <%= f.text_field :first_name, autofocus: true , class:"form-control custom-shadow-box " %>
            <% if @user.errors[:first_name].any? %>
              <div class="text-danger">
                <%= @user.errors[:first_name].first %>
              </div>
            <% end %>
          </div>
          <div class="field form-group">
            <%= f.label :last_name , class:"fw-custom-email-pass mt-3" %>
            <%= f.text_field :last_name, autofocus: true , class:"form-control custom-shadow-box" %>
            <% if @user.errors[:last_name].any? %>
              <div class="text-danger">
                <%= @user.errors[:last_name].first %>
              </div>
            <% end %>
          </div>
          <div class="field form-group">
            <%= f.label :email , class:"fw-custom-email-pass mt-3" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control custom-shadow-box " , placeholder:"user@example.com" %>
            <% if @user.errors[:email].any? %>
              <div class="text-danger">
                <%= @user.errors[:email].first %>
              </div>
            <% end %>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
              <div class="field form-group">
                <%= f.label :contact_number , class:"fw-custom-email-pass mt-3" %>
                <%= f.text_field :contact_number, autofocus: true , class:"form-control custom-shadow-box" , placeholder:"+920123456789" %>
                <% if @user.errors[:contact_number].any? %>
                  <div class="text-danger">
                    <%= @user.errors[:contact_number].first %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12">
              <div class="field form-group">
                <%= f.label :Trade_role , class:"fw-custom-email-pass mt-3" %><br>
                <%= f.select :role, ['Customer', 'Vendor' ],{prompt:"Select"}, autofocus: true, class:"form-control custom-shadow-box"%>
                <% if @user.errors[:role].any? %>
                  <div class="text-danger">
                    <%= @user.errors[:role].first %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="field form-group">
            <%= f.label :password , class:"fw-custom-email-pass mt-3" %>
            <%= f.password_field :password, autocomplete: "new-password" , class:"form-control custom-shadow-box" , id:"password" , placeholder:"At least 6 characters" %>
            <% if @user.errors[:password].any? %>
              <div class="text-danger">
                <%= @user.errors[:password].first %>
              </div>
            <% end %>
          </div>
          <div class="progress mt-3 ">
            <div class="progress-bar" role="progressbar"  >
            </div>
          </div>
          <div class="field form-group">
            <%= f.label :password_confirmation , class:"fw-custom-email-pass mt-3" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control custom-shadow-box"%>
            <% if @user.errors[:password_confirmation].any? %>
              <div class="text-danger">
                <%= @user.errors[:password_confirmation].first %>
              </div>
            <% end %>
          </div>
          <div class="field  ">
            <div class="row">
              <div class="col-1 pr-custom ">
                <div class="form-group ">
                  <%= f.check_box :terms_and_conditions ,class:"checkbox-size mt-3" %>
                </div>
              </div>
              <div class="col-11 pl-custom">
                <div class="form-group mt-2">
                  I agree to <%= link_to "terms & conditions" , terms_condition_path , target: "_blank" , class:"privacy-policy custom-shadow-box " %>
                </div>
              </div>
            </div>
            <% if @user.errors[:terms_and_conditions].any? %>
              <div class="text-danger">
                <%= @user.errors[:terms_and_conditions].first %>
              </div>
            <% end %>
          </div>
          <div class="actions">
            <%= f.submit "Signup" , class:"form-control clr-log mt-3 "  %>
          </div>
        <% end %>
      </div>
      <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4  Signup-member-note">
          Already registered? <%= link_to "Sign in" ,  new_user_session_path , class:"reg-design" %> instead
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
<script>
  //progress bar
  let password = document.getElementById("password");
  let progress_bar = document.querySelector(".progress-bar");
  password.oninput = () => {
  progressBar(password.value);

  };

  function progressBar(password) {
    let strength = 0;

    if (password.match(/(?=.*[A-Z])([/\S/])/))strength++;
    if (password.match(/(?=.{6,})([/\S/])/))strength++;
    if (password.match(/(?=.*[a-z])([/\S/])/))strength++;
    if (password.match(/(?=.*[!@#$%^&])([/\S/])/))strength++;


    switch (strength) {
  case 0:
    progress_bar.style = "width: 0%; background-color:unset";
    break;
  case 1:
    progress_bar.style = "width: 20%; background-color:brown";
    break;
  case 2:
    progress_bar.style = "width: 40%; background-color:orangered";
    break;
  case 3:
    progress_bar.style = "width: 60%; background-color:gold";
    break;
  case 4:
    progress_bar.style = "width: 100%; background-color:green";
    break;

    }
  }
</script>
