<head>
  <script src="script.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<% content_for :topbar do %>
  <%= render partial: 'partials/topbar' %>
<% end %>
<div class="container">
  <div class="row custom-padding-search-bar">
    <div class="col-lg-2 col-md-2 col-sm-2 col-12">
      <!-- Logo -->
      <div class="form-group responsive-logo ">
        <%= link_to root_path do %>
          <%= image_tag('logos/my_logo.png', alt: 'Logo' ,class:"logo-design" )  %>
        <% end %>
      </div>
      <!--/ End Logo -->
    </div>
    <div class="col-lg-8 col-md-7 col-sm-6 col-6">
      <!-- Search Form -->
      <%= form_for "",url:root_path, role:"search", method: :get do %>
        <div class=" form-group ">
          <div class="custom-search-design ">
            <div class="input-box">
              <%= text_field_tag :search, @search_term, placeholder:"Search Products Here...",class:"search-focus " %>
              <button type="submit" class="button" >Search</button>
            </div>
          </div>
        </div>
      <%end%>
      <!--/ End Search Form -->
    </div>
    <%# Cart Account %>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
      <div class="form-group cart-account-design" style="text-align:right;">
        <%= link_to cart_path, style:"color:#333;" do %>
          <i class="fa fa-shopping-cart cart-design" ></i>
        <% end %>
        <i class="fa fa-user-circle-o  account-design" aria-hidden="true"></i>
        <% if user_signed_in?   %>
          <% if current_user.role == 'Vendor'  %>
            <%= link_to "Vendor", vendors_path, class: "sign-in-design no-underline" %>
          <% elsif current_user.role == 'Admin' %>
            <%= link_to "Admin", admins_path, class: "sign-in-design no-underline" %>
          <% else %>
            <span class="sign-in-design"> Customer</span>
          <% end %>
        <% end %>
      </div>
    </div>
    <%# end Cart Account %>
  </div>
</div>
</header>
<%# Navbar %>
<div class="navbar " style="padding:0;">
  <div class="container " style="display:block;">
    <div class="row ">
      <div class="col-lg-3 cat-main" style="padding-right:0;" >
        <h3 class="cat-heading mb-0 "><i class="fa fa-bars"></i>CATEGORIES</h3>
        <div class="bg-white bg-main-design">
          <ul class="main-category ">
            <% @category.each do |cg|%>
              <li class="dynamic-category-design">
                <%= link_to cg.name, category_products_path(cg)  ,class:"no-underline sub-cat-design  "%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-9 mt-3  ">
        <%= link_to "Home " , root_path , class:"no-underline custom-navlinks " %>
        <%= link_to "Shipping " , shipterm_path , class:"no-underline custom-navlinks " %>
        <%= link_to "Newsletter " , newsletter_path , class:"no-underline custom-navlinks " %>
        <%= link_to "About Us " , about_path , class:"no-underline custom-navlinks " %>
        <%= link_to "Contact Us " , contact_path , class:"no-underline custom-navlinks " %>
      </div>
    </div>
  </div>
</div>
<div class="whole-slider-design" id="slider-design">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-9">
        <div class=" slider">
          <%= image_tag 'caro-1.jpeg', id: "first-slide" %>
          <%= image_tag('caro-2.jpeg' )   %>
          <%= image_tag('caro-3.jpeg' )  %>
          <%= image_tag('caro-4.jpeg' )  %>
          <%= image_tag('caro-5.jpeg' )  %>
          <%= image_tag('caro-6.jpeg' )  %>
          <%= image_tag('caro-7.jpeg' )  %>
          <%= image_tag('caro-8.jpeg' )  %>
          <%= image_tag('caro-9.jpeg' )  %>
          <%= image_tag('caro-10.jpeg' )  %>
          <%= image_tag('caro-11.jpeg' )  %>
          <%= image_tag('caro-12.jpeg' )  %>
          <%= image_tag('caro-13.jpeg' )  %>
          <%= image_tag('caro-14.jpeg' )  %>
          <%= image_tag('caro-15.jpeg' )  %>
          <%= image_tag('caro-16.jpeg' )  %>
          <%= image_tag('caro-17.jpeg' )  %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cart-list">
  <div class="container cart-sec px-0">
    <div class="row">
      <div class="col-12 ">
        <div class="form-group text-center">
          <h2 class="section-title">Trending Item</h2>
        </div>
        <div class="small-line">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
      </div>
      <div class="col-8">
        <div class="form-group main-trend text-center">
          <% @category.each do |cg| %>
            <% category_name = cg.name == "Men's Fashion" ? "MAN" : cg.name %>
            <% if ["MAN", "WOMAN", "KIDS", "HEALTH", "ACCESSORIES"].include?(category_name) %>
              <%= link_to category_name, category_products_path(cg),class:"no-underline trend-item-design" %>
            <% end %>
            <% category_name = cg.name == "Women's Fashion" ? "WOMAN" : cg.name %>
            <% if ["MAN", "WOMAN", "KIDS", "HEALTH", "ACCESSORIES"].include?(category_name) %>
              <%= link_to category_name, category_products_path(cg),class:"no-underline trend-item-design" %>
            <% end %>
            <% category_name = cg.name == "Mother & Baby" ? "KIDS" : cg.name %>
            <% if ["MAN", "WOMAN", "KIDS", "HEALTH", "ACCESSORIES"].include?(category_name) %>
              <%= link_to category_name, category_products_path(cg),class:"no-underline trend-item-design" %>
            <% end %>
            <% category_name = cg.name == "Health & Beauty" ? "HEALTH" : cg.name %>
            <% if ["MAN", "WOMAN", "KIDS", "HEALTH", "ACCESSORIES"].include?(category_name) %>
              <%= link_to category_name, category_products_path(cg),class:"no-underline trend-item-design" %>
            <% end %>
            <% category_name = cg.name == "Electronic Accessories" ? "ACCESSORIES" : cg.name %>
            <% if ["MAN", "WOMAN", "KIDS", "HEALTH", "ACCESSORIES"].include?(category_name) %>
              <%= link_to category_name, category_products_path(cg),class:"no-underline trend-item-design" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div >
      <%= render 'homes/product_list' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <div class="col-4">
    </div>
    <div class="col-4  ">
      <div class="form-group paging-design ">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
<div class="hot-item-section">
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <div class="form-group text-center">
          <h2 class="section-title">Hot Item</h2>
        </div>
        <div class="small-line">
        </div>
      </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide slider-caro-design-mid" data-ride="carousel" data-interval="3000">
      <div class="carousel-inner">
        <div class="row">
          <% @products.each_slice(4) do |slice| %>
            <div class="carousel-item <%= 'active' if slice == @products.first(4) %>">
              <div class="row">
                <% slice.each do |product| %>
                  <div class="col-md-3">
                    <%= form_with(url: cart_add_path) do |f| %>
                      <div class="card border-0">
                        <%= image_tag product.avatar, class: "card-image-top" %>
                        <%= f.hidden_field :id, value: product.id %>
                        <%= f.hidden_field :quantity, value: 1, min: 1 %>
                        <%= f.submit "ADD TO CART", class: "add-cart-button" %>
                        <div class="card-body" style="padding-left:0px;">
                          <h2 class="card-title"><%= product.name %></h2>
                          <h5>Rs <%= product.price %></h5>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
        <span class="fa-solid fa-angle-left caro-design-left" aria-hidden="true" ></span>
        <span class="sr-only pre-button-caro "></span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="fa-solid fa-angle-right caro-design-right" aria-hidden="true" >&#8250;</span>
        <span class="sr-only"></span>
      </a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </div>
</div>
<div>
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <div class="form-group text-center">
          <h2 class="section-title">On Sale</h2>
        </div>
        <div class="small-line">
        </div>
      </div>
    </div>
    <div class="row sale-product-design-marg">
      <% @products.each do |product| %>
        <div class="col-md-4 ">
          <div class="row sale-pro-design">
            <div class="col-6">
              <%= form_with(url:cart_add_path) do |f| %>
                <div class="card-design-sell border-0 ">
                  <%=image_tag product.avatar , class:"card-image-top" %>
                  <%= f.hidden_field :id,value: product.id%>
                  <%= f.hidden_field :quantity,value: 1, min: 1%>
                  <%= f.submit "ADD TO CART" , class:"add-cart-button-sell"%>
                </div>
              <% end %>
            </div>
            <div class="col-6">
              <div class="card-body pt-5 "style="padding-left:0px; ">
                <h2 class="card-titel"><%= product.name %></h2>
                <h5 >Rs <%=product.price%></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ">
    <div class="col-4">
    </div>
    <div class="col-4  ">
      <div class="form-group paging-design ">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
  </div>
</div>
<script>
  var images = [];
      document.querySelectorAll(".slider img").forEach(function(img) {
        var image = new Image();
        image.src = img.src;
        images.push(image);
      });
      document.querySelector("#first-slide").classList.add("active");
      var index = 0;
      setInterval(function() {
        var current = document.querySelector(".slider img.active");
        current.classList.remove("active");
        index = (index + 1) % images.length;
        var next = document.querySelectorAll(".slider img")[index];
        next.classList.add("active");
      }, 3000);
     var colors = ['#c9c0ae', '#ffdddb','#f5b9c1', '#345b78','#f85605','#a31926','#f85506','#edd47a','#106126','#359683','#359683','#f85707','#9c9ba0','#359683','#1e9541','#f8c3cd','#c8f9f5']
      var slider = document.getElementById('slider-design');
      var index = 0;
      setInterval(function() {
        slider.style.backgroundColor = colors[index];
        index = (index + 1) % colors.length;
      }, 3000);
</script>
