<!DOCTYPE html>
<html>
  <head>
    <title>Smart Shopping</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="<%= asset_path('favicon.png')  %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/4177f37136.js" crossorigin="anonymous"></script>
  </head>
  <body >
    <!-- Preloader -->
    <!--
    <div class="preloader" id="preload">
      <div class="preloader-inner">
        <div class="preloader-icon">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    -->
    <!-- End Preloader -->
    <%= yield :topbar %>
    <%= yield %>
    <div class="container  ">
      <div class="row justify-content-center">
        <div class="col-md-3 mrvalidate-custom"></div>
        <div class="col-md-6 ">
          <div class="form-group ">
            <% flash.each do |key, value| %>
              <% if key == "alert" %>
                <div class="alert alert-danger w-custom mt-4 transitions" id="show">
                  <%= value  %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    setTimeout(() => {
      preload.style.display = "none";
    }, 2000);

    setTimeout(() => {
      show.style.display = "none";
    }, 7000);
  </script>
</html>
